body{
margin:0;
font-family:Arial;
}

.hero{
position:relative;
height:100vh;
overflow:hidden;
}

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-image:url("karnik-logo.jpg");
background-size:cover;
background-position:center;
filter:blur(8px);
z-index:1;
}

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
z-index:2;
}

.content{
position:relative;
z-index:3;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
color:white;
width:90%;
}

.logo{
width:150px;
height:150px;
border-radius:50%;
border:4px solid white;
margin-bottom:20px;
}

.buttons button{
padding:12px 25px;
margin:10px;
font-size:18px;
border:none;
border-radius:25px;
background:#1f6f43;
color:white;
cursor:pointer;
}

.menu-buttons button{
display:block;
width:260px;
margin:20px auto;
padding:15px;
font-size:20px;
border:none;
border-radius:30px;
background:#1f6f43;
color:white;
cursor:pointer;
}

button:hover{
background:#2fa463;
transform:scale(1.05);
}

.about-box{
background:white;
color:black;
padding:20px;
border-radius:15px;
max-width:600px;
margin:auto;
}
.back-btn{
margin-top:20px;
padding:12px 30px;
font-size:18px;
border:none;
border-radius:25px;
background:#ff6b6b;
color:white;
cursor:pointer;
}

.back-btn:hover{
background:#ff4c4c;
transform:scale(1.05);
}
/* -------- MOBILE RESPONSIVE -------- */

@media (max-width: 768px){

h1{
font-size:30px;
}

.menu-buttons button{
width:90%;
font-size:16px;
padding:12px;
}

.chat-box{
width:90%;
}

input{
width:60%;
}

.content{
padding:10px;
}

.logo{
width:100px;
height:100px;
}

}
